{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"],
          //"ie": 9,
         // "uglify": true
//          forceAllTransforms:true
        },
        "modules": false,
        //"useBuiltIns": false
//        "debug": true,
        //"include": ["transform-es2015-shorthand-properties"],
//                "useBuiltIns": true
      }
    ],
        //"stage-0",
    //    "stage-1",
    "stage-2",
    //    "stage-3",
    //"vue-app"

  ],
  "plugins": [
    "transform-runtime",
    //"transform-es2015-shorthand-properties",
    // "syntax-dynamic-import",
    //"transform-export-extensions",
    //
    //"transform-object-rest-spread",
//    "transform-es3-property-literals",
//    "transform-es3-member-expression-literals",
    //"transform-es2015-classes",
    //"transform-class-properties",
    //"transform-proto-to-assign",
////    "transform-decorators-legacy",
    //"transform-async-to-module-method",
    //"transform-async-generator-functions",
//    ["component", [
//      {
//        "libraryName": "element-ui",
//        "styleLibraryName": "theme-default"
//      }
//    ]]
  ],
  //"comments": false
}
